* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

.login-box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  height: 95vh;
}

.login-form {
  display: flex;
  width: 30%;
  justify-content: center;
  background-color: #62bfe2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.icono {
  color: #7dd3f3;
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-items input {
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: transparent;
  font-size: 16px;
  border-radius: 5px;
}

.form-items :is(a) {
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
}

.boton {
  background-color: #f2f681;
}

.lorem {
  font-size: 15px;
}

.login-img {
  position: relative;
  width: 70%;
  height: 100%;
  border-bottom-right-radius: 5px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/amortizaciones-99bff.appspot.com/o/bg-img.png?alt=media&token=5e9ed7fb-9775-49c4-9f7f-ece6dcda3f5d);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title,
.subTitle {
  position: relative;
}

.title {
  color: #ffffffaf;
  font-weight: 100;
  font-size: 26px;
  text-transform: uppercase;
}

.subTitle {
  color: #ffffff;
  font-weight: 700;
  font-size: 37px;
}

.carrusel {
  display: flex;
  justify-content: center;
}

.img-carrusel {
  width: 80%;
  height: 350px;
  margin-left: 10%;
  border: 1px solid white;
  border-radius: 10px;
}

.users {
  position: absolute;
  bottom: 0;
}

.users:nth-child(1) {
  color: #ffffff;
  font-weight: 700;
}

.users i:nth-child(2) {
  margin-left: 0;
}

.users :is(i) {
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: relative;
  margin-left: -10px;
  color: #62bfe2;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%;
  }

  .lorem {
    text-align: center;
  }
  
  .login-img {
    display: none;
  }
}
